body{
    background-image: url(img/pexels-ej-agumbay-8552626.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

img{

}
.img_1{
    width: 30vh;
    height: 30vh;
}
.img_2{
    width: 26vh;
}
.img_3{
    width: 23vh;
}