*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

body{
    background-image: url(/img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

img{
    width: 30vh;
}

.img_2{
    width: 39vh;
}